body {
    direction: rtl;
    background-image: url("../images/reut.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font:david;
}


#container {
    width: 960px;
    margin:200px;
    font-family:Alef;
    text-shadow: 1px 1px 1px #999999;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: top left;
}

nav ul {
 font-family:Alef;
    padding: 10px;
    margin: 0;
    list-style: none;
    bottom:20px;
}

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            color: #DE5988;
             font-family:Alef;
            text-decoration: none;
            display: block;
            width: 140px;
            height: 30px;
            text-align: center;
            padding-top: 10px;
            background-color: white;
            -moz-border-radius-topleft: 20px;
            -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 0px;
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-radius: 20px 20px 0px 0px;
            border-radius: 20px 20px 0px 0px;
        }

            nav ul li a.selected {
                background-color: #d6c6b6;
            }

            nav ul li a:hover {
                background-color: #d6c6b6;
            }

            nav ul li a.selected:hover {
                background-color: #e8ddd3;
            }

            nav ul li a:active {
                background-color: #e8ddd3;
            }

section {
    background-color: white;
    height: auto;
  padding-bottom:30px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

#rashi {
    background-color: white;
    height: 200px;
    bottom:-40px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

    #rashi p, #rashi h2 {
        font-size: 20pt;
        font-family:Alef;
    }

h1 {
    font-size: 30pt; 
    font-family:Alef;
    color: #DE5988;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
   
}

p {
    color: #9E8062;
    font-family:Alef;
    font-size: 14pt;
    padding: 20px;
    
}

h2 {
    color: palevioletred; 
    font-family:Alef;
    font-size: 16pt;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
   bottom:-20px;

}

footer {
    position: absolute;
    height: 70px;
    right: 0;
    bottom: -110px;
    left: 0;
    padding-bottom: 10px;
    background-color: #DE5988;
    text-align: center;
}

.communication {
    color: white;
    font-size: 18pt;
    font-weight: bold;
}

#facebook {
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

#google {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 15px;
}

#facebook:hover {
    width: 35px;
    height: 35px;
    position: relative;
}

#google:hover {
    width: 35px;
    height: 35px;
    position: relative;
}

#spaplus {
    color: #9E8062;
}

    #spaplus:hover {
        color: palevioletred;
    }

    #spaplus:active {
        color: white;
    }

    #spaplus:visited {
        color: #e8ddd3;
    }
